@{
    ViewBag.Title = "Contact";
}



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<style>
    a {
        color: black!important;
    }

    .form-group {
        text-align: left;
    }

</style>
<center>
    <h3>@ViewBag.Message</h3>
    <br />
    <br />
    <br />
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter firstname">
        </div>
        <br />
        <div class="form-group">
            <label for="exampleInputEmail2">Last Name</label>
            <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter lastname">
        </div>
        <br />
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <br />
        <div class="form-group">
            <label for="exampleinputemail3">Role Id</label>
            <input type="email" class="form-control" id="exampleinputemail3" aria-describedby="emailhelp" placeholder="Role Id">
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</center>
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
